body {
    background-color: #233;
    color: #cdd;
    font-family: "Serif";
}
div.list_entry {
/*    background-color: #322;*/
}
span.id {
    color: #677;
    font-size: 0.7em;
    font-style: italic;
    margin-right: 5px;
}
span.title {
    font-size: 0.9em;
    margin-right: 5px;
}
div.description {
    color: #899;
    font-size: 0.8em;
    margin-left: 20px;
    margin-top: 5px;
}
span.empty_desc {
    color: #d96;
    font-style: italic;
}
span.tag {
    background-color: #677;
    border-radius: 0.25em;
    color: #011;
    font-family: monospace;
    font-size: 0.9em;
    margin: 0px 5px;
    padding: 0.2em;
}
span.length {
    color: #677;
    font-size: 0.8em;
    font-style: italic;
    margin-left: 5px;
    margin-right: 5px;
}
a {
    outline: none;
    color: #dee;
}
a:active {
    color: #eef;
}
hr {
    background-color: black;
    border: none;
    height: 1px;
    margin: 10px;
}
