$main_bgcolor: #222
$main_textcolor: #999
$metadata_editor_font: Cambria
$metadata_editor_fsize: 14px

InfoPanel {
    border: none;
    background-color: $main_bgcolor;
}
InfoPanelLabel {
    color: $main_textcolor;
    font-family: Calibri;
    font-size: 16px;
}


MainWindow {
    background-color: $main_bgcolor;
}
QTabWidget::tab-bar {
    alignment: center;
}
QTabWidget::pane {
    position: absolute;
}
QTabBar::tab {
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border: 2px solid #666;
    border-top: none;
    background: $main_bgcolor;
    color: $main_textcolor;
    font-size: 12px;
    font-family: Cambria;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    min-width: 4em;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 4px;
    padding-top: 2px;
}
QTabBar::tab:selected {
    background: $main_textcolor;
    border: 2px solid $main_textcolor;
    border-bottom: none;
    color: $main_bgcolor;
}

MetadataEditor {
    background-color: $main_bgcolor;
    padding: 3px;
}
MetadataLabel {
    color: $main_textcolor;
    font-family: $metadata_editor_font;
    font-size: $metadata_editor_fsize;
}
MetadataInputField {
    background-color: $main_textcolor;
    border: none;
    color: $main_bgcolor;
    font-family: $metadata_editor_font;
    font-size: $metadata_editor_fsize;
    margin: 2px;
    selection-background-color: black;
    selection-color: white;
}
