InfoPanel {{
    border: none;
    background-color: {infopanel background};
}}
InfoPanelLabel {{
    color: {infopanel text color};
    font-family: {infopanel font};
    font-size: {infopanel font size};
}}

/* TERMINAL */
GenericTerminalInputBox {{
    border: 0px;
    border-top: 2px solid {terminal border color};
    font-family: "{terminal font}";
    font-size: {terminal font size};
    color: {terminal input text color};
    background: {terminal input background};
    selection-color: {terminal input background};
    selection-background-color: {terminal input text color};
}}

GenericTerminalOutputBox {{
    border: 0px;
    border-top: 2px solid {terminal border color};
    font-family: "{terminal font}";
    font-size: {terminal font size};
    color: {terminal output text color};
    background: {terminal output background};
}}
