html, body {{
    margin: 0px;
    height: 100%;
}}
body {{
    background-color: {viewer margin background};
    font-family: "{viewer font}"!important;
    font-size: {viewer font size};
    color: {viewer text color};
    line-height: {viewer line height};
}}
#main {{
    background-color: {viewer body background};
    border-left: 2px solid {viewer body border color};
    border-right: 2px solid {viewer body border color};
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    padding: {viewer body padding};
    width: {viewer body width};
}}
h2 {{
    margin-top: {viewer chapter header margin top};
    margin-bottom: {viewer chapter header margin bottom};
    font-size: {viewer chapter header font size};
    font-family: "{viewer chapter header font}";
}}
hr {{
    border: 0;
    margin-top: {viewer horizontal line margin};
    margin-bottom: {viewer horizontal line margin};
    background: {viewer horizontal line color};
    height: {viewer horizontal line height};
    width: {viewer horizontal line width}
}}
hr#header {{
    width: 100%;
    margin: 0px;
}}
::-webkit-scrollbar {{
    background-color: {viewer margin background};
    height: {scrollbar width};
    width: {scrollbar width};
}}
::-webkit-scrollbar-button {{
    display: none;
}}
::-webkit-scrollbar-thumb {{
    background-color: {scrollbar viewer slider color};
}}
::-webkit-scrollbar-corner {{
    background-color: {index background};
}}
