body {
    background-color: #233;
    font-family: "Serif";
}
div.list_entry {
/*    background-color: #322;*/
}
span.id {
    color: #677;
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
    margin-right: 5px;
}
span.title {
    color: #cdd;
    font-size: 14px;
    margin-right: 5px;
}
div.description {
    color: #899;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 5px;
}
span.empty_desc {
    color: #d96;
    font-size: 13px;
    font-style: italic;
}
span.tag {
    background-color: #667;
    border-radius: 3px;
    color: #011;
    font-family: "Monospace";
    font-size: 11px;
    margin: 0px 5px;
    padding: 2px;
}
span.length {
    color: #677;
    font-size: 13px;
    font-style: italic;
    margin-left: 5px;
    margin-right: 5px;
}
hr {
    background-color: black;
    border: none;
    height: 1px;
    margin: 10px;
}

::-webkit-scrollbar {
    background-color: #233;
    height: 15px;
    width: 15px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: #111c1c;
}
::-webkit-scrollbar-corner {
    background-color: #233;
}
