html, body {
    margin: 0px;
    height: 100%;
}
body {
    background-color: #181818;
    font-family: "Serif"!important;
    font-size: 12px;
    color: #ddd;
    line-height: 130%;
}
h1 {
    line-height: 110%;
}
#main {
    background-color: #222;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    padding: 40px;
    max-width: 800px;
}
p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 0px;
}
h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Sans-serif";
    line-height: 120%;
}
hr {
    border: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    background: #888;
    height: 2px;
    width: 40%
}
hr#header {
    width: 100%;
    margin: 0px;
}
::-webkit-scrollbar {
    background-color: #181818;
    height: 15px;
    width: 15px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: black;
}
::-webkit-scrollbar-corner {
    background-color: #233;
}
