* {
  background: #233;
  font-family: "Serif";
}

#terminal_input, #terminal_output {
  border: 0px;
  border-top: 2px solid #111;
  font-family: "Monospace";
  font-size: 11pt;
  color: #ddd;
}

#terminal_input {
  background: #222;
  selection-color: #222;
  selection-background-color: #ddd;
}

#terminal_output {
  background: #191919;
}

QScrollArea {
  /*padding: 10px;*/
}

QWidget {
  /*margin: 40px;*/
}

#entry_list_layout {
  margin: 40px;
}

EntryList {
  margin: 15px 8px;
  qproperty-spacing: 20;
  qproperty-separator_color: black;
  qproperty-separator_h_margin: 18;
  qproperty-separator_height: 1;
}

EntryWidget {
}

QLabel {
  margin: 0;
  padding: 0;
  border: 0;
}

#description, #empty_description {
  font-size: 16px;
}
#number, #tag {
  font-size: 13px;
}

#number, #wordcount, #empty_description {
  font-style: italic;
}

#number, #wordcount {
  color: #677;
}

#title {
  font-size: 18px;
  color: #cdd;
}

#number {
  margin-right: 5px;
}

#empty_description {
  color: #d96;
}
#description {
  color: #899;
}
#description, #empty_description {
  /*margin-left: 15px;*/
  margin-top: 5px;
}

#tag {
  background-color: #667;
  border-radius: 3px;
  color: #011;
  font-family: "Monospace";
  margin-right: 4px;
  margin-top: 2px;
  padding: 2px 0px;
  font-size: 12px;
}

#wordcount {
  font-size: 14px;
  margin: 3px 5px;
}


InfoPanel {
    border: none;
    background-color: #333;
}
InfoPanelLabel {
    color: #aaa;
    font-family: Sans-serif;
    font-size: 16px;
}

TagInfoList {
    border-top: 2px solid #111;
}
TagInfoList, TagInfoList * {
    background-color: #292f3f;
    color: #ddd;
}
TagInfoList QScrollBar::handle:vertical {
    background-color: #101929;
}
#tag_info_count {
    font-size: 12px;
    font-family: "Monospace";
    font-weight: bold;
}
TagCountBar {
    background-color: #bbd;
}
#tag_info_macro_expression {
    font-size: 12px;
    font-family: "Monospace";
}

/* TERMINAL */
GenericTerminalInputBox, GenericTerminalOutputBox {
    border: 0px;
    border-top: 2px solid #111;
    font-family: "Monospace";
    font-size: 11pt;
    color: #ddd;
}
GenericTerminalInputBox {
    background: #222;
    selection-color: #222;
    selection-background-color: #ddd;
}
GenericTerminalOutputBox {
    background: #191919;
}
HelpView {
    background: #333;
    color: #ddd;
    font-family: "Monospace";
    font-size: 12px;
    padding: 10px 6px;
    border-top: 2px solid #111;
}
HelpView QScrollBar:vertical {
    background: #333;
}
HelpView QScrollBar::handle:vertical {
    background: #111;
}

/* BACKSTORY */
BackstoryWindow {
    background: #080808;
}
BackstoryTextEdit {
    background: #222;
    color: #ddd;
    selection-color: #222;
    selection-background-color: #ddd;
    font-family: "Serif";
    font-size: 11px;
    border: 0px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    max-width: 1000px;
}
BackstoryTitle {
    color: #ddd;
    background: #181818;
    font-family: "Sans-serif";
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
}
BackstoryTabCounter {
    color: #ddd;
    background: #181818;
    border-bottom: 2px solid black;
    font-family: "Sans-serif";
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    padding: 4px;
}
BackstoryRevisionNotice {
    color: red;
    background: #333;
    border-bottom: 2px dashed black;
    font-family: "Sans-serif";
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}
QTabBar {
    alignment: center;
    border-bottom: 2px solid black;
    background: #181818;
    font-family: "Sans-serif";
    font-size: 12px;
    outline: 0;
}
QTabBar::tab {
    color: #ddd;
    background: #181818;
    padding: 8px 10px;
    margin-bottom: 2px;
}
QTabBar::tab::selected {
    color: #ddd;
    background: #333;
}
QTabBar::tear {
    image: none;
}
QTabBar::scroller {
    width: 0px;
}


/* VERTICAL SCROLLBAR */
QScrollBar:vertical {
    background: #222;
    width: 15px;
}
QScrollBar::handle:vertical {
    background: #111;
    min-height: 20px;
}
QScrollBar::sub-line:vertical, QScrollBar::add-line:vertical {
    height: 0px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}
